*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}

body {
  display: flex;
	background-color: #3B3B98;
	color: #fff;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
  justify-content: center;
	align-items: center;
	padding: 10px;
  height: 40em;
}

.password-Generator {
	background-color: darkblue;
  box-shadow:  rgba(255, 255, 255, 0.2);
}

.Password-result {
  background: black;
  display: flex;
  min-height: 4em;
  flex-direction: column;
  padding: 10px;
  align-content: center;
  justify-content:space-around;
}

.generate {
  font-size: 1rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(0, 162, 255, 0.952);
  padding: 20px;
	width: 350px;
	max-width: 100%;
}

.generate:hover {
  cursor: pointer;
  background-color:rgba(0, 247, 255, 0.918)
}

.database {
  background: #3B3B98;
  position: relative;
  bottom: -10px;
  right: 20px;
  display: flex;
  flex-direction: column;
}
.forms {
	position: relative;
	left: 50px;
	bottom: -25px;
}

.show {
  font-size: 1rem;
	border: 1px solid white;
	position: relative;
	left: 20px;
  outline: none;
  background-color: rgba(0, 162, 255, 0.952);
  padding: 20px;
	width: 350px;
	max-width: 100%;
}

.show:hover {
  cursor: pointer;
  background-color:rgba(0, 247, 255, 0.918)
}

.save {
  font-size: 1rem;
  border: 1px solid white;
  position: relative;
  bottom: -70px;
  outline: none;
  background-color: rgba(0, 162, 255, 0.952);
  padding: 20px;
	width: 350px;
	max-width: 100%;
}

.save:hover {
  cursor: pointer;
  background-color:rgba(0, 247, 255, 0.918)
}

.plat {
	padding:100px;
}

.setting {
  border: 4px solid darkblue;
}

